@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: url("../media/weather-bckgrnd.jpeg") no-repeat fixed center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: white;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #000;
}

.infoFlow {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.7),
              3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
}

.infoFlow > p {
  padding: 0;
  margin: auto;
}

/* City search input field */

body > div.grid-container > div.menu > form > div > input[type="text"] {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.7),
              3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  outline: none;
  color: white;
}

input {
  margin-bottom: 15px;
}

form, #btn {
  display: inline-block;
}

/* Grid */

.location { grid-area: location; }
.menu { grid-area: menu; }
.menuHeader { grid-area: menuHeader; }
.header { grid-area: header; }
.weatherPic { grid-area: weatherPic; }
.weather { grid-area: weather; }
.details { grid-area: details; }

.grid-container {
  display: grid;
  grid-template-areas:
    'location location location location location'
    'menuHeader header header header header'
    'menu weatherPic weather details details'
    'menu weatherPic weather details details';
  grid-gap: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.7),
              3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  width: 60%;
}

/* Main weather stuff */

body > div.grid-container > div.location {
  margin: 0;
}

div {
  margin: auto;
}

#weatherPic {
  height: 130px;
  width: 130px;
}

.hrStyle {
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px rgba(250, 250, 250, 0.2) inset;
}

a {
  text-decoration: none;
  color: white;
  padding: 15px;
  transition: 200ms;
}

a:hover {
  color: aqua;
  transform: scale(1.1);
}

#currentWeather {
  margin: 0;
}

/* Main weather details */

body > div > div.details > ul > li {
  padding: 3px;
  list-style: none;
  text-align: left;
}

/* Extended weather stuff */

.eTempP { grid-area: eTempP; }
.ePrecip1HrP { grid-area: ePrecip1HrP; }
.ePressureP {grid-area: ePressureP; }
.eWindP { grid-area: eWindP; }
.eVisP { grid-area: eVisP; }
.eWFooterP { grid-area: eWFooterP; }
.radarMap { grid-area: radarMap; }

.eGrid-container {
  display: grid;
  grid-template-areas:
    'eTempP eTempP radarMap radarMap radarMap'
    'ePrecip1HrP ePrecip1HrP radarMap radarMap radarMap'
    'ePressureP ePressureP radarMap radarMap radarMap'
    'eWindP eWindP radarMap radarMap radarMap'
    'eVisP eVisP radarMap radarMap radarMap'
    'eWFooterP eWFooterP radarMap radarMap radarMap';
  /* grid-gap: 5px;
  text-align: center; */
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.7),
              3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 5px;
  margin: auto;
  width: 60%;
  transition: all 3s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

#map {
  height: 400px;
  width: 400px;
}

/* Animation */

@keyframes fadeIn {
  from {
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 2px 2px rgba(0, 0, 0, 0),
                3px 3px rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
  }
  to {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.7),
                3px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(250, 250, 250, 0.2);
  }
}

/* MORE INFO SECTION */
.hideMoreInfo {
  display: none;
}

@media only screen and (max-width: 768px){
  body {
    padding: 0;
    margin: auto;
  }
  .infoFlow{
    margin-top: 2%;
  }
  .grid-container, .infoFlow, .eGrid-container {
    width: 90%;
    display: block;
    transition: none;
  }
  .eGrid-container {
    margin-bottom: 2%;
  }
  #btn {
    display: none;
  }
  body > div.grid-container > div.weatherPic > div {
    border: none;
  }
}